* {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0 auto;
  width: 375px;
  height: 812px;
  background-color: $grey-color;
}

.list {
  display: flex;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  border: 1px solid $grey-color;
  background: $white-color;
  margin-top: 10px;
  margin-bottom: 10px;
    &__btn {
    cursor: pointer;
    }
}

.list__btn:hover {
  opacity: 0.7;
}